@model IEnumerable<ProyectoRRHH.Models.empleado>

<h2>Reporte de empleados</h2>
<hr />
<form asp-action="ExportarEmpleadosAExcel" asp-controller="Empleados" method="post">

    <div class="row align-items-end">
        <div class="col-sm-3">
            <label class="form-label">Fecha Inicio</label>
            <input class="form-control" name="fechaInicio" type="date" required />
        </div>

        <div class="col-sm-3">
            <label class="form-label">Fecha Fin</label>
            <input class="form-control" name="fechaFin" type="date" required />
        </div>

        <div class="col-sm-3">
            <button class="btn btn-success" type="submit">Reportes</button>
        </div>

    </div>

</form>
<br />
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salariomensual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cedulaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.departamentoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.puestoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @{
                        var fechaingreso = ((DateOnly)item.fechaingreso).ToString("dd/MM/yyyy");
                    }
                    @Html.DisplayFor(modelItem => fechaingreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salariomensual)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cedulaNavigation.cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.departamentoNavigation.departamento1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.puestoNavigation.nombre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>