@model IEnumerable<ProyectoRRHH.Models.empleado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<h2>Empleados</h2>
<p>
    <a asp-action="Create" class="btn btn-success">Agregar</a>
</p>

<table class="table table-bordered border-4">
    <thead>
        <tr class="table-active text-dark bg-opacity-50">
            <th>
                <h4>Cédula</h4>
            </th>
            <th>
                <h4>Nombre</h4>
            </th>
            <th>
                <h4>Fecha de ingreso</h4>
            </th>
            <th>
                <h4>Salario mensual</h4>
            </th>
            <th>
                <h4>Estado</h4>
            </th>
            <th>
                <h4>Departamento</h4>
            </th>
            <th>
                <h4>Puesto</h4>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cedulaNavigation.cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                    @{
                        var fechaingreso = ((DateTime)item.fechaingreso).ToString("dd/MM/yyyy");
                    }
                @Html.DisplayFor(modelItem => fechaingreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salariomensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.departamentoNavigation.departamento1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.puestoNavigation.nombre)
            </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.id">Editar</a> |
                    <!--<a asp-action="Details" class="btn btn-primary" asp-route-id="@item.id">Detalles</a>-->
                    <a asp-action="Delete" asp-type="button" class="btn btn-light" asp-route-id="@item.id"><span class="bi bi-trash"></span></a>
                </td>
        </tr>
}
    </tbody>
</table>
